.listItem {
    width: 225px;
    height: 120px;
    background-color: var(--main-color);
    color: white;
    margin-right: 5px;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 140px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover{
        width: 325px;
        height: 350px;
        border-radius: 10px;
        position: absolute;
        top: -150px; 
        z-index: 999;
        img {
            height: 140px; 
            object-fit:inherit;      
        }

        .itemInfo {
            display: flex;
            flex-direction: column;
            padding: 10px;

            .icons{
                display: flex;
                margin-bottom: 10px;
                .icon {
                    border: 2px solid white;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }

            .itemInfoTop {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                font-weight: 600;
                color: grey;
                .limit{
                    border: 1px solid grey;
                    padding: 1px 3px;
                    margin: 0 10px;
                }
            }

            .desc {
                font-size: 13px;
                margin-bottom: 10px;
            }

            .genre {
                font-size: 14px;
                color: lightgray;
            }
        }
        box-shadow: -1px 1px 90px -1px rgba(240,234,234,1);
-webkit-box-shadow: -1px 1px 90px -1px rgba(240,234,234,1);
-moz-box-shadow: -1px 1px 90px -1px rgba(240,234,234,1);

    }

}